<app-header></app-header>

<mat-vertical-stepper>
    <div >
    <mat-step label="My Cart" >
        <div class="part1" *ngFor="let cart of allCart">
            <div class="book-image"><img class="book-pic" src="../../../assets/book/book4.jpeg" alt=""></div>
            <div>
                <div class="book-title">{{cart.book.bookName}}</div>
                <div class="auther-name">By {{cart.book.authorName}}</div>
                <div class="book-price">Rs.{{cart.totalPrice}}</div>
                <div class="part2">
                <button class="minus" (click)="onClickMinus()">-</button>
                <input  class="number" type="text" value="{{cart.quantity}}">
                <button class="plus" (click)="onClickPlus()">+</button>
                <span class="remove-text">Remove</span>
                </div>    
            </div>
        </div>
        <button mat-raised-button class="select-address" matStepperNext >Select Address</button>
    </mat-step>
    </div>

    <mat-step label="Customer Details">
        <div class="cust-detail">
            <div>
            <input class="text-input" type="text" name="name" placeholder="Name" required>
            <input class="text-input" type="text" name="phoneno" placeholder="Phone number" required>
            </div>
            <div>
            <input class="text-input" type="text" name="pincode" placeholder="Pin Code" required>
            <input class="text-input" type="text" name="locality" placeholder="Locality" required>
            </div>
            <div>
            <input class="address-input" type="text" name="address" placeholder="Address" required>
            </div>
            <div>
            <input class="text-input" type="text" name="city" placeholder="City/Town" required>
            <input class="text-input" type="text" name="landmark" placeholder="Landmark" required>
            </div>
            <div class="type">
            Type
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="Home">Home</mat-radio-button>
                    <mat-radio-button value="Office">Office</mat-radio-button>
                    <mat-radio-button value="Others">Others</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
            <button mat-button class="back-btn" matStepperPrevious>Back</button>
            <button mat-raised-button class="next-btn" matStepperNext >Proceed to Checkout</button>
            </div>
        </div>
    </mat-step>

    <mat-step label="Order Summary">
        <div class="payment">
            <div class="book-image"><img class="book-summary" src="../../../assets/book/book4.jpeg" alt=""></div>
            <div>
            <div class="book-title-summary">Hell of A Book</div>
            <div class="auther-name-summary">By Hitesh Meher</div>
            <div class="book-price-summary">Rs.1000</div>
            </div>
        </div>
        <div>
        <button mat-button class="back-btn" matStepperPrevious>Back</button>
        <button mat-raised-button class="checkout-btn" matStepperNext (click)="onCheckout()">Checkout</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
<app-footer></app-footer>