<div class="placed-content">
    <img class="success-logo"  src="../../../assets/success.png" alt="Order successful">
    <div class="thanku">
        Order Placed Successfully
    </div>
    <img class="order-placed" src="../../../assets/order placed.gif" alt="Order placed">
    <div class="order-text"><p>hurray!!! your order is comfirmed.Your Order id is #123456 Save the order id for further communication</p></div>
    <div>
        <button mat-raised-button class="continue-btn" (click)="onClickCont()" color="primary">Continue Shopping</button>

    </div>
</div>