<app-header></app-header>

<div class="home-content">
    <div class="book-text head">Books
        <span class="item-text">( {{booklist.length}} items)</span>
        <select class="sort-content" name="sortbook" id="sortbook"  [(ngModel)]="sortby" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="sortBooks($event)" >
            <option value="relevance">Sort by relevance</option>
            <option value="asc">Price : Low to High</option>
            <option value="desc">Price : High to Low</option>
        </select>
    </div>

    <div  class="book-main">    
    <mat-card *ngFor="let book of booklist" class="book-head">

        <mat-card-content class="book">
            <img class="book-image" src="../../../assets/book/book4.jpeg" alt="book1">
            <div class="book-title">{{book.bookName}}</div>
            <div class="auther-name">By {{book.authorName}}</div>
            <div class="book-price">Rs.{{book.price}}</div>
            <button class="add-to-cart" mat-stroked-button (click)="onClickAdd(userId, book.bookId)">{{add}}</button>
            <button class="wishlist" mat-stroked-button>WishList</button>
        <div class="book-desc">{{book.bookDescription}}</div>
        </mat-card-content>

    </mat-card>
    </div>
</div>
<app-footer></app-footer>