.book{
    padding: 1cm;
    background-color:#D8D0CE;
    justify-content: center;
    border-radius: 5px;
}

.book-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1cm;
    margin-top: 0.5cm;
}
.book-text{
    margin-left:4%;
    font-size: x-large;
}
.head{
    padding: 1cm 0cm 0cm 0cm;
}
.item-text{
    font-size: small;
}
.sort-content{
    margin-left: 76.3%;
}
.book-title{
    font-size: x-large;
    font-family: fantasy;
    padding: 10px 0px 0px 0px;
}
.auther-name{
    color: gray;
    font-size: small;
    font-style: italic;
}
.book-price{
    font:caption;
    padding: 5px 0px 5px 0px;
}
.add-to-cart{
    background-color:#ff9f00;
    width: 2.7cm;
}
.wishlist{
    margin-left: 5px;
    background-color: white;
}
.book-desc{
    display: none;
}

.wishlist:hover + .book-desc{
    cursor: pointer;
    display: grid;
    color: red;
}