<header class="header-content">
    <div class="book">
      <img class="book-logo" (click)="onBookStoreClick()" src="../../../assets/booklogo.png" alt="booklogo">
      <div class="header-name" (click)="onBookStoreClick()">BookStore</div>
      <div>
        <input class="search"  type="text" name="search" placeholder="Search">
      </div>
      <div><img class="search-logo" src="../../../assets/search.png" alt="search logo"></div>
      <div class="cart-name" (click)="onCartClick()">Cart({{cartAll}})</div>
      <div><img class="cart-logo" src="../../../assets/cartlogo.png" (click)="onCartClick()" alt="cart logo"></div>
      <div ><img  class="logout-logo" style="height: 25px ;" src="../../../assets/logouticon.png" (click)="onClickLogout()" alt="log out"></div>
    </div>
</header>

